.App{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-around;
}

.signedout{
  display: flex;
  flex-direction: column;
}

h1{
}

p{
}

form{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap:10px;
  flex:1;
}

input{
  
}

.password{

}

.file{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

button{
  height: 20px;
}


button:hover{
  cursor: pointer;
}

.image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}